* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", "sans-serif";
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

article {
    padding-top: 3rem;
}